<%= form_with(model: @contact, local: true, html: { multipart: true }) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <h3>Teléfonos</h3>
  <%= form.fields_for :phone_numbers do |phone_fields| %>
    <div class="field">
      <%= phone_fields.label :number %>
      <%= phone_fields.text_field :number %>
    </div>
    <div class="field">
      <%= phone_fields.label :emergency_number %>
      <%= phone_fields.text_field :emergency_number %>
    </div>
  <% end %>

  <h3>Dirección</h3>
  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street %>
    </div>
    <div class="field">
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>
    </div>
    <div class="field">
      <%= address_fields.label :state %>
      <%= address_fields.text_field :state %>
    </div>
    <div class="field">
      <%= address_fields.label :country %>
      <%= address_fields.text_field :country %>
    </div>
    <div class="field">
      <%= address_fields.label :postal_code %>
      <%= address_fields.text_field :postal_code %>
    </div>
    <div class="field">
      <%= address_fields.label :latitude %>
      <%= address_fields.text_field :latitude %>
    </div>
    <div class="field">
      <%= address_fields.label :longitude %>
      <%= address_fields.text_field :longitude %>
    </div>
  <% end %>

  <h3>Categoría</h3>
  <%= form.fields_for :category do |category_fields| %>
    <div class="field">
      <%= category_fields.check_box :family %>
      <%= category_fields.label :family, 'Familia' %>
    </div>
    <div class="field">
      <%= category_fields.check_box :friend %>
      <%= category_fields.label :friend, 'Amigo' %>
    </div>
    <div class="field">
      <%= category_fields.check_box :customer %>
      <%= category_fields.label :customer, 'Cliente' %>
    </div>
    <div class="field">
      <%= category_fields.check_box :supplier %>
      <%= category_fields.label :supplier, 'Proveedor' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
