<h1>Iniciar sesi칩n</h1>

<%= form_with url: session_path, method: :post, local: true do %>
  <div>
    <%= label_tag :email, 'Correo electr칩nico' %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password, 'Contrase침a' %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= submit_tag 'Iniciar sesi칩n' %>
  </div>
<% end %>
