<h1>Contactos</h1>
<!-- app/views/sessions/new.html.erb -->
<h1>Iniciar sesi칩n</h1>
<%= form_with url: session_path, method: :post, local: true do %>
  <%= label_tag :email, 'Correo electr칩nico' %>
  <%= text_field_tag :email %>
  <%= label_tag :password, 'Contrase침a' %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Iniciar sesi칩n' %>
<% end %>

<%= link_to 'Registrarse', new_user_registration_path %>
