<h1><%= @contact.full_name %></h1>
<%= image_tag @contact.photo if @contact.photo.attached? %>
<p>Nickname: <%= @contact.nickname %></p>
<p>Birthday: <%= @contact.birthday %></p>

<h2>Teléfonos</h2>
<ul>
  <% @contact.phone_numbers.each do |phone_number| %>
    <li>
      <%= phone_number.number %> (<%= phone_number.emergency_number %>)
    </li>
  <% end %>
</ul>

<h2>Dirección</h2>
<p><%= @contact.address.street %>, <%= @contact.address.city %>, <%= @contact.address.state %>, <%= @contact.address.country %> - <%= @contact.address.postal_code %></p>

<h2>Categoría</h2>
<p>
  Familia: <%= @contact.category.family %><br>
  Amigo: <%= @contact.category.friend %><br>
  Cliente: <%= @contact.category.customer %><br>
  Proveedor: <%= @contact.category.supplier %>
</p>

<%= link_to 'Editar', edit_contact_path(@contact) %> |
<%= link_to 'Volver', contacts_path %>
